@import url('https://fonts.googleapis.com/css2?family=Rajdhani+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-shadow: 2px 2px 3px #00000077;
}

body {
  overflow: hidden;
}

.playerStats {
  position: absolute;
  left: 17.5%;
  bottom: 1%;
}

#voice{
  border: 4px solid rgb(197, 197, 197);
}


.stat{
	color: #fff;
	background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0) 60%);
	width: 220px;
	height: 30px;
	border-radius: 8px 8px 8px 8px;
	position: relative;
	margin-bottom: 8px;
  margin-left: -10px;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0);
}

.stat .iconid, .stat .icon, .stat .icon-water, .stat .icon-hunger, .icon-health{
	height: 30px;
	width: 30px;
	background: rgba(0, 0, 0, 0.253);
	border-radius: 20px 20px 20px 20px;
	position: relative;
	display: inline-block;
	right: 15px;
}

.stat .icon i, .stat .icon img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.stat .icon-water, .stat .icon-hunger {
  bottom: 11px;
}

.stat .icon img, .stat .iconid img, .stat .icon-water img, .stat .icon-hunger img, .icon-health img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 25px;
  width: 25px;
  filter: drop-shadow(1.5px 1.5px 3.0px rgba(0, 0, 0, 0.2));
}

.progress {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.5s ease-in-out;
}

.progressWater {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
  stroke-dasharray: 113.097px;
  stroke-dashoffset: 56.5487px;
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.5s ease-in-out;
}


.backgroundCircle, .outer {
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.stat span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: -10px;
}

.status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
  top: 12px;
}


.vert-stat{
	border-radius: 50%;
  width: 42px;
  height: 42px;
	position: relative;
	overflow: hidden;
	background-color: rgba(0,0,0,0.2);
}

.vert-stat .bg{
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.vert-stat img{
	width: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@media only screen and (min-width: 2544px) {
  .playerStats {
    left: 16.9%;
    bottom: 2.57%;
  }

  .stat {
    width: 287px;
    height: 37px;
    margin-bottom: 7px;
    text-shadow: 1.92px 1.92px 3.84px rgba(0, 0, 0, 0.8);
  }

  .stat .iconid, .stat .icon, .stat .icon-water, .stat .icon-hunger {
    height: 37px;
    width: 37px;
    right: 17px;
  }

  .stat .icon-water, .stat .icon-hunger, .stat .icon-health {
    bottom: 12px;
  }

  .stat .icon img, .stat .iconid img, .stat .icon-water img, .stat .icon-hunger img {
    height: 30px;
    width: 30px;
    filter: drop-shadow(1.92px 1.92px 3.84px rgba(0, 0, 0, 0.8));
  }

  .status {
    width: 240px;
  }

  .vert-stat {
    width: 175px;
    left: 27px;
    box-shadow: 1.92px 1.92px 3.84px rgba(0, 0, 0, 0.4);
  }

  .stat span {
    font-size: 1.5em;
  }
}